*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --font-family-Manrope:"Manrope";
}
/* home page */
.navbar{
    display: flex;
    flex-wrap: nowrap;
    padding: 30px 162px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    .logo{
        width:199px;
        height:60px;
    }
    .navlinks{
        width:480px; 
        height:60px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background-color: #0F0F0F;
        border: 4px solid;
        border-color: #1F1F1F;
        border-radius: 12px ;
        padding: 10px 40px;
        /* gap: 30px; */
        justify-content: space-between;
        a{
            font-family: var(--font-family-Manrope);
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            line-height: 150%;
            color: #BFBFBF;
        }
        a:focus , :hover{
            background-color: #1A1A1A ;
            border: 1px;
            border-radius: 8px;
            padding: 14px 24px;
        

        }

    }
    .navIcons{
        width: 98px;
        height: 34px;
        gap: 30px;
         .button-nav{
                background: none;
                border: 0;
                cursor: pointer;
                img{
                width: 34px;
                height: 34px;
                
                }

            }
        .button3{
            display: none;
        }
       
    }
}
.Container{
    width: 100%;
    height: 1092px;
    .imgContainer{
        width: 100%;
        height: 860px;
        display: inline-block;
        background-image: url(../imges/Sub\ Container.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
        position: relative;

    }
    
    .TextContainer{
        padding: 0 390px;
        gap:50px;
        text-align: center; 
        position: absolute;
        top: 500px;
        z-index: 90;
        h1{
            font-weight: 700;
            font-style: bold;
            font-size: 40px;
            line-height: 200%;
            font-family: var(--font-family-Manrope);
        }
        p{
            font-family: var(--font-family-Manrope);
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 150%;
            color: #999999;
        }
        button{
            background-color: #E50000;
            border-radius: 8px;
        }
    }


}

.ExplorContainer{
    padding: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .movieTOP{
                display: flex;
                flex-direction: row !important;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                .explor-text{
                    h3{
                        font-family: var(--font-family-Manrope);
                        font-weight: 700;
                        font-size: 38px;
                        font-style: bold;
                        color: #FFFFFF;
                    }
                    p{
                        font-family: var(--font-family-Manrope);
                        font-weight: 400;
                        font-size: 18px;
                        font-style: normal;
                        color: #999999;

                    }
                }
                .scrool{
                    width: 220px;
                    height: 88px;
                    border: 1px;
                    border-radius:12px;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #0F0F0F;
                    .left-scrool{
                        width: 56px;
                        height: 56px;
                        border: 1px;
                        border-radius: 8px;
                    }
                    .dash-red{
                        width: 23px;
                        height: 4px;
                        border: 1px; ;
                        border-radius: 100px;
                    }
                    .dash{
                        width: 16.33px;
                        height: 4px;
                        border: 1px; ;
                        border-radius: 100px;
                    }
                    .right-scrool{
                        width: 56px;
                        height: 56px;
                        border: 1px;
                        border-radius: 8px;
                    }

                }
                
            }
    .movies-section {
                padding: 40px;
                gap: 20px;
                .card-movies{
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    width: calc((100% - 5*20px) / 5);
                    padding: 14px;
                    .bigimage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100px;
                        }
                    }
                    
                    .inner-card{
                        h4{
                            font-family: var(--font-family-Manrope);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        a{
                            width: 30px;
                            height: 30px;
                        }

                    }

                    @media (max-width: 992px) {
                        width: calc((100% - 4*20px) / 3);
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                }
            }
    } 


.streaming-experience{
    padding: 0 160px;
    margin-bottom: 120px;
    .streaming-info{
        margin-bottom: 60px;
        h1{
            font-family: var(--font-family-Manrope);
            font-weight: 700;
            font-size: 28px;
            color: #FFFFFF;
        }
       p{
            font-family: var(--font-family-Manrope);
            font-weight: 400;
            font-size: 16px;
            color:#999999;
        }
    }
    .card-devices{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        
        .devices-img{
            width: calc((100% - 2*20px)/3);    
        }
        

    }
}
.Questions{
    padding: 0 162px;
    .Questions-head{
        display: flex;
        justify-content: space-between;
        .title{
            h1{
                font-family: var(--font-family-Manrope);
                font-size:38px ;
                font-weight: 700;
                line-height: 150%;
                color: #FFFFFF;
            }
            p{
                font-family: var(--font-family-Manrope);
                font-size:18px ;
                font-weight: 400;
                line-height: 150%;
                color: #999999;
            }

        }
        .btn{
            background-color: #E50000;
            width:176px ;
            width: fit-content;
            height:48px ;
            border: 1px;
            border-radius: 8px;
            padding: 10px 16px;
            align-self:center;
            p{
                color: #FFFFFF;
                font-family: var(--font-family-Manrope);
                font-size:18px ;
                font-weight: 600;
                line-height: 150%;

            }
        }
    }
        .all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 80px;
        width: 90%;
        margin: 0 auto;
    }

    .coll {
        flex: 1;
        min-width: 350px;
    }

    .accordion-item {
        background-color: transparent !important;
        border: none !important;
        border-bottom: 1px solid #333333 !important;
        padding: 15px 0;
        height: auto !important;
    }

    .accordion-item:has(.accordion-button:not(.collapsed)) {
        border-bottom: 2px solid #E50914 !important;
    }

    .accordion-button {
        background-color: transparent !important;
        color: white !important;
        box-shadow: none !important;
        font-size: 18px;
        font-weight: bold;
        padding: 20px 0;
    }

    .num {
        background-color: #262626 !important;
        border-radius: 8px;
        padding: 12px 16px;
        margin-right: 15px;
        border: 1px solid #333333;
    }

    .accordion-button::after {
        background-image: none !important;
        content: "+";
        font-size: 24px;
        color: #FFFFFF;
        transition: transform 0.2s;
    }

    .accordion-button:not(.collapsed)::after {
        content: "-";
        transform: none;
    }

    .accordion-body {
        color: #999999;
        font-size: 16px;
        font-family: var(--font-family-Manrope);
        line-height: 1.5;
        padding-left: 75px;
    }

    @media (max-width: 992px) {
        .all {
            gap: 0;
        }
        .coll {
            width: 100%;
        }
    }
}

.plans{
    padding: 0 162px;
    margin-top: 150px;
    .plan-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        margin-bottom: 20px;
        .plan-text{
            flex-shrink: 1;
            h1{
                font-family: var(--font-family-Manrope);
                font-size: 38px;
                font-weight: 700;
                color: #FFFFFF;
                line-height: 150%;
            }
            p{
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 400;
                color:#999999;
                font-style: normal;
                line-height: 150%;
            }
        }
        .buttons{
            display: flex;
            background-color: #0F0F0F;
            border: 1px;
            background-color: #1F1F1F;
            border-radius: 10px;
            padding: 10px;
            align-self: c;
                
            button:focus , :hover{
            background-color: #1A1A1A ;
            padding: 14px 24px;
            }
        }


    }
    .plan-cards{
        display: flex;
        gap: 30px;
        .card-subscibe{
            width: calc((100% - 2 *30)/3);
            background-color: #1A1A1A;
            border: 1px #262626;
            border-radius: 12px;
            padding: 30px;
            gap: 40px;

            h3{
            font-family: var(--font-family-Manrope);
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;

            }
            p{
                font-family: var(--font-family-Manrope);
                font-weight: 400;
                font-size: 18px;
                font-style: normal;
                color: #999999;

            }
            .price{
                font-family: var(--font-family-Manrope);
                font-weight: 600;
                font-size: 40px;
                color:#FFFFFF ;

            }
            .time{
                font-family: var(--font-family-Manrope);
                font-weight: 400;
                font-size: 18px;
                font-style: normal;
                color: #999999;

            }
            .buttons-subscribe{
                display: flex;
                flex-wrap: nowrap;
                gap: 10px;
            }
            .dark{
                width: calc((100% - 20px)/2);
                height: 49px;
                padding: 10px 16px;
                font-size:small;
                border: 1px #262626;
                border-radius: 6px;
                background-color: #141414;
                flex-shrink: 1;

            }
            .red{
                width: calc((100% - 20px)/2);
                height: 49px;
                padding: 10px 16px;
                font-size: small;
                border: 1px #262626;
                border-radius: 6px;
                background-color: #E50000;
                flex-shrink: 1;

            }

        }
        
    }
}
.start-trial{
        /* width:100% ; */
        justify-self: center;
        margin-left: 160px;
        margin-right: 160px;
        width:calc(100% - (2 * 160px));
        height: 315px;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 100px 80px;
        margin: 50px 0; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../imges/Background\ Images\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .start-text{
            h2{
                font-family: var(--font-family-Manrope);
                font-size: 38px;
                font-weight: 700;
                color: #FFFFFF;
                line-height: 150%;
            }
            p{
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 400;
                color: #999999;
                font-style: normal;
                line-height: 150%;

            }
        }
        .start-free{
            background-color: #E50000;
            color: #FFFFFF;
            border: none;
            width: 188px;
            height: 63px;
            padding: 18px 24px;
            border-radius: 8px ;
            font-size: 18px;
           

        }
    }
footer{
    background-color: #0F0F0F;
    width: 100%;
    height: 505px;
    padding:100px 40px 20px 40px;
    .footer-links{
        display: flex;
        gap: 30px;
        width:100%;
        .linkContiner{
            gap: 24px;
            .heading{
                text-decoration: none;
                margin-bottom: 24px;
                display: block;
                font-family: var(--font-family-Manrope);
                font-size: 20px;
                font-weight: 600;
                line-height: 150%;
                color: #FFFFFF;
            }
            .body-link{
                text-decoration: none;
                display: block;
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                color: #999999;
            }

        }
        .connection{
            display: flex;
            gap:14px;
            .media-button{
                background-color: #1A1A1A;
                border: 1px #262626;
                border-radius: 8px;
                width:56px;
                height:56px;
            }
        }
    }
    .line{
        width:100%;
        background-color: #999999;
        margin-top: 100px;
        margin-bottom: 24px;
        height: 1px;
        border: 1px #262626;
    }
    .All-Rights{
        display: flex;
        justify-content: space-between;
        width:100%;
        p{
            font-family: var(--font-family-Manrope);
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            color: #999999;

        }
        .copy-right{
            display: flex;
            gap: 20px;
            .c{
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                color: #999999;  
            }
        }

    }
   


}
/* movies & shows */
.container-all{
    margin: 0 160px;
    max-width: 100% ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .carousel{
        margin-top: 170px;
        width: 100%;
        .carousel-inner{
            .carousel-item{
                .carousel-img{
                    width: 100%;
                    height: 500px;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
                .carousel-caption{
                    margin-bottom: 30px;
                    
                    h5{
                        font-family: var(--font-family-Manrope);
                        font-weight: 700;
                        font-size: 38px;
                        line-height: 150%;
                        color: #FFFFFF;
                    }
                    p{
                        font-family: var(--font-family-Manrope);
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 150%;
                        color: #999999;

                    }
                    .button-play{
                        display: flex;
                        gap: 13px;
                        justify-content: center;
                        .btnPlay{
                            width: 157px;
                            height: 40px;
                            display: flex;
                            align-items: center;
                            border-radius: 8px;
                            padding: 14px 24px;
                            gap: 4px;
                            span{
                                font-family: var(--font-family-Manrope);
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 153%;
                                color: #FFFFFF;
                            }
                        }
                        .btnCntrol{
                            btns3{
                                width: 56px;
                                height: 56px;
                                border-radius: 8px;
                                border: 1px #262626;
                                padding: 14px;
                            }
                        }

                    }
                }
            }
            
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        display: flex;
        align-items: end;
        justify-content: center;
        bottom: 25px;
        
        

        }
    .carousel::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 300px;
    background: linear-gradient(to bottom,transparent,black);
    pointer-events: none;
    } 
    .buttons-choose{
        display: none;
    }
    .movies{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
        .scrool{
            width: 220px;
            height: 88px;
            border: 1px;
            border-radius:12px;
            justify-content: space-between;
            align-items: center;
            background-color: #0F0F0F;
            .left-scrool{
                width: 56px;
                height: 56px;
                border: 1px;
                border-radius: 8px;
            }
            .dash-red{
                width: 23px;
                height: 4px;
                border: 1px; ;
                border-radius: 100px;
            }
            .dash{
                width: 16.33px;
                height: 4px;
                border: 1px; ;
                border-radius: 100px;
            }
            .right-scrool{
                width: 56px;
                height: 56px;
                border: 1px;
                border-radius: 8px;
            }

        }
        .ourGenres{

        
            .moviesTOP{
                display: flex;
                flex-direction: row !important;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: var(--font-family-Manrope);
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .movies-section {
                padding: 40px;
                gap: 20px;
                .card-movies{
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    width: calc((100% - 5*20px) / 5);
                    padding: 14px;
                    .bigimage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100px;
                        }
                    }
                    
                    .inner-card{
                        h4{
                            font-family: var(--font-family-Manrope);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        a{
                            width: 30px;
                            height: 30px;
                        }

                    }

                    @media (max-width: 992px) {
                        width: calc((100% - 4*20px) / 3);
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                }
            }
        } 
        .Popular-Top-10-In-Genres{
            .moviesTOP{
                display: flex;
                flex-direction: row !important;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: var(--font-family-Manrope);
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .movies-section {
                padding: 40px;
                gap: 20px;
                .card-movies{
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    width: calc((100% - 4*20px) / 4);
                    justify-content: center;
                    padding: 14px;
                    .bigimage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100px;
                        }
                    }
                    
                    .inner-card{
                        h4{
                            font-family: var(--font-family-Manrope);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        a{
                            width: 30px;
                            height: 30px;
                        }

                    }

                    @media (max-width: 992px) {
                        width: calc((100% - 4*20px) / 3);
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                }
            }

        }
        .TrendingNow{
            .shows-section {
                margin-top: 40px;
                justify-content: space-between;
                .movie-card {
                    width: calc((100% - (4 * 10px )) / 5);
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    padding: 16px;
                   

                    .times{
                        margin-top: 16px;

                        .time {
                            width: 108px;
                            height: 30px;
                            padding: 10px;
                            svg{
                                width: 18px;
                                height: 18px;
                            }
                            background-color: #141414;

                        }
                        span{
                            font-size: 10px;
                        }
                        .ELRO2YA{
                            width: 64px;
                            height: 36px;
                            background-color: #141414;
                        }
                    }
                }
            }
        }
        .NewReleases{
            .new-cards{
                margin-top: 40px;
                justify-content: space-between;
                .new-film-card{
                    width: calc((100% - (4 * 10px )) / 5);
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    padding: 16px;
                    .Released{
                        margin-top: 16px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p{
                            font-family: var(--font-family-Manrope);
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 150%;
                            color:#999999 ;

                        }
                    }

                }
            }
        }
        .Must-WatchMovies{
            .Must-watch{
                /* padding: 40px; */
                display: flex; 
                margin-top: 40px;
                justify-content: center;
                
                .must{
                    width: calc(100% - 30px);
                    justify-content: space-between;
                    .movie-card {
                        width: calc((100% - (3 * 5px )) / 4);
                        border-radius: 10px;
                        border: 1px solid #262626;
                        background-color: #1A1A1A;
                        padding: 16px;

                        .rating {
                            margin-top: 16px;

                            .time {
                                background-color: #141414;
                                span{
                                    font-family: var(--font-family-Manrope);
                                    font-size: 10px;
                                    font-weight: 500;
                                    line-height: 150%;
                                    color:#999999 ;

                                }
                            }
                        }
                    }
                }
                
            }
        }   


    }
    .Shows{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 100px;
        .scrool{
            width: 220px;
            height: 88px;
            border: 1px;
            border-radius:12px;
            justify-content: space-between;
            align-items: center;
            background-color: #0F0F0F;
            .left-scrool{
                width: 56px;
                height: 56px;
                border: 1px;
                border-radius: 8px;
            }
            .dash-red{
                width: 23px;
                height: 4px;
                border: 1px; ;
                border-radius: 100px;
            }
            .dash{
                width: 16.33px;
                height: 4px;
                border: 1px; ;
                border-radius: 100px;
            }
            .right-scrool{
                width: 56px;
                height: 56px;
                border: 1px;
                border-radius: 8px;
            }

        }
        .ourGenres{

        
            .moviesTOP{
                display: flex;
                flex-direction: row !important;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: var(--font-family-Manrope);
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .movies-section {
                padding: 40px;
                gap: 20px;
                .card-movies{
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    width: calc((100% - 5*20px) / 5);
                    padding: 14px;
                    .bigimage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100px;
                        }
                    }
                    
                    .inner-card{
                        h4{
                            font-family: var(--font-family-Manrope);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        a{
                            width: 30px;
                            height: 30px;
                        }

                    }

                    @media (max-width: 992px) {
                        width: calc((100% - 4*20px) / 3);
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                }
            }
        } 
        .Popular-Top-10-In-Genres{
            .moviesTOP{
                display: flex;
                flex-direction: row !important;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-family: var(--font-family-Manrope);
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 150%;
                    color: #FFFFFF;
                }
            }
            .movies-section {
                padding: 40px;
                gap: 20px;
                .card-movies{
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    width: calc((100% - 4*20px) / 4);
                    justify-content: center;
                    padding: 14px;
                    .bigimage{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 100px;
                        }
                    }
                    
                    .inner-card{
                        h4{
                            font-family: var(--font-family-Manrope);
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 150%;
                            color: #FFFFFF;
                        }
                        a{
                            width: 30px;
                            height: 30px;
                        }

                    }

                    @media (max-width: 992px) {
                        width: calc((100% - 4*20px) / 3);
                    }

                    @media (max-width: 768px) {
                        width: 100%;
                    }

                }
            }

        }
        .TrendingNow{
            .shows-section {
                margin-top: 40px;
                justify-content: space-between;
                .movie-card {
                    width: calc((100% - (4 * 10px )) / 5);
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    padding: 16px;
                   

                    .times{
                        margin-top: 16px;

                        .time {
                            width: 108px;
                            height: 30px;
                            padding: 10px;
                            svg{
                                width: 18px;
                                height: 18px;
                            }
                            background-color: #141414;

                        }
                        span{
                            font-size: 10px;
                        }
                        .ELRO2YA{
                            width: 64px;
                            height: 36px;
                            background-color: #141414;
                        }
                    }
                }
            }
        }
        .NewReleases{
            .new-cards{
                margin-top: 40px;
                justify-content: space-between;
                .new-film-card{
                    width: calc((100% - (4 * 10px )) / 5);
                    border-radius: 10px;
                    border: 1px solid #262626;
                    background-color: #1A1A1A;
                    padding: 16px;
                    .Released{
                        margin-top: 16px;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .time {
                            width: 90px;
                            height: 30px;
                            padding: 10px;
                            svg{
                                width: 18px;
                                height: 18px;
                            }
                            background-color: #141414;

                        }
                        span{
                            font-size: 10px;
                        }
                        .ELRO2YA{
                            width: 54px;
                            height: 36px;
                            background-color: #141414;
                            span{
                                font-size: 8px;
                            }
                        }
                        
                    }

                }
            }
        }
        .Must-WatchMovies{
            .Must-watch{
                /* padding: 40px; */
                display: flex; 
                margin-top: 40px;
                justify-content: center;
                
                .must{
                    width: calc(100% - 30px);
                    justify-content: space-between;
                    .movie-card {
                        width: calc((100% - (3 * 5px )) / 4);
                        border-radius: 10px;
                        border: 1px solid #262626;
                        background-color: #1A1A1A;
                        padding: 16px;

                        .rating {
                            margin-top: 16px;

                            .time {
                                background-color: #141414;
                                span{
                                    font-family: var(--font-family-Manrope);
                                    font-size: 10px;
                                    font-weight: 500;
                                    line-height: 150%;
                                    color:#999999 ;

                                }
                            }
                        }
                    }
                }
                
            }
        }   


    }
    .start-trial{
        width:100% ;
        height: 315px;
        border: 1px solid #262626;
        border-radius: 12px;
        padding: 100px 80px;
        margin: 50px 0; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(../imges/Background\ Images\ \(1\).png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .start-text{
            h2{
                font-family: var(--font-family-Manrope);
                font-size: 38px;
                font-weight: 700;
                color: #FFFFFF;
                line-height: 150%;
            }
            p{
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 400;
                color: #999999;
                font-style: normal;
                line-height: 150%;

            }
        }
        .start-free{
            background-color: #E50000;
            color: #FFFFFF;
            border: none;
            width: 188px;
            height: 63px;
            padding: 18px 24px;
            border-radius: 8px ;
            font-size: 18px;
           

        }
    }
    
}
footer{
    background-color: #0F0F0F;
    width: 100%;
    height: 505px;
    padding:100px 40px 20px 40px;
    .footer-links{
        display: flex;
        gap: 30px;
        width:100%;
        .linkContiner{
            gap: 24px;
            .heading{
                text-decoration: none;
                margin-bottom: 24px;
                display: block;
                font-family: var(--font-family-Manrope);
                font-size: 20px;
                font-weight: 600;
                line-height: 150%;
                color: #FFFFFF;
            }
            .body-link{
                text-decoration: none;
                display: block;
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                color: #999999;
            }

        }
        .connection{
            display: flex;
            gap:14px;
            .media-button{
                background-color: #1A1A1A;
                border: 1px #262626;
                border-radius: 8px;
                width:56px;
                height:56px;
            }
        }
    }
    .line{
        width:100%;
        background-color: #999999;
        margin-top: 100px;
        margin-bottom: 24px;
        height: 1px;
        border: 1px #262626;
    }
    .All-Rights{
        display: flex;
        justify-content: space-between;
        width:100%;
        p{
            font-family: var(--font-family-Manrope);
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            color: #999999;

        }
        .copy-right{
            display: flex;
            gap: 20px;
            .c{
                font-family: var(--font-family-Manrope);
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                color: #999999;  
            }
        }

    }
   


}
